{% extends "base.html" %}

{% block title %}Admin - alle brukere{% endblock %}

{% block content %}
<div class="container">
    <h1 align="center">Alle brukere</h1>
    
    <!-- Table displaying the users -->
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Epost</th>
                <th>Navn</th>
                <th>Opplegg</th>
                <th>Favoritter</th>
                <th>Kommentarer</th>
            </tr>
        </thead>
        <tbody>
            {% for data in user_data %}
                <tr>
                    <td>{{ data.user.id }}</td>
                    <td>{{ data.user.email }}</td>
                    <td>{{ data.user.first_name }}</td>
                    <td>
                        {% if data.opplegg %}
                            {% for opp in data.opplegg %}
                                <div>
                                    <a href="{{ url_for('views.se_opplegg', opplegg_id=opp.id) }}">
                                        {{ opp.name }}
                                    </a>
                                </div>
                            {% endfor %}
                        {% else %}
                            Ingen opplegg lastet opp
                        {% endif %}
                    </td>
                    <td>
                        {% if data.favorites %}
                            {% for favorite in data.favorites %}
                                <div>
                                    <a href="{{ url_for('views.se_opplegg', opplegg_id=favorite.id) }}">
                                        {{ favorite.name }}
                                    </a>
                                </div>
                            {% endfor %}
                        {% else %}
                            Ingen favoritter
                        {% endif %}
                    </td>
                    <td>
                        {% if data.user.comments %}
                            {% for comment in data.user.comments %}
                                {{ comment.content|truncate(50) }}
                                <div>
                                    <a href="{{ url_for('views.se_opplegg', opplegg_id=comment.opplegg.id) }}">
                                        (View Opplegg)
                                    </a>
                                </div>
                            {% endfor %}
                        {% else %}
                            Ingen kommentarer
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
