{% extends "base.html" %} {% block title %}Lag nytt passord{% endblock %} {%
block content %}
<div class="login-container">
  <h3 align="center">Lag nytt passord</h3>
  <form method="POST" class="login-form">
    <div class="form-group">
      <input
        type="password"
        class="form-control"
        id="password1"
        name="password1"
        placeholder="Nytt passord"
        required
      />
    </div>
    <div class="form-group">
      <input
        type="password"
        class="form-control"
        id="password2"
        name="password2"
        placeholder="Gjenta passord"
        required
      />
    </div>
    <div style="text-align: center">
      <button type="submit" class="btn btn-primary">Oppdater passord</button>
    </div>
  </form>
</div>
{% endblock %}
