{% extends "base.html" %}{% block title %}{{ opplegg.name }}{% endblock %} {%
    block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='legg_inn_nytt_opplegg.css') }}" />
    
    <div id="opplegg_body">
      <div id="centerer">
        <h1 align="center">{{ opplegg.name }}</h1>
    <form method="POST">
      <input type="hidden" name="opplegg_id" value="{{ opplegg.id }}">
        {% if user.role == 'admin' %}
      <input
        type="text"
        name="opplegg"
        value ="{{ opplegg.name }}"
        size="40"
        id="opplegg"
        style="
          font-size: 18px;
          background: #eaeef1;
          border-radius: 10px;
          margin-bottom: 0.5rem;
        "
      /><br />{% endif %}
  
    <textarea name="data" ...>{{ opplegg.data }}</textarea>
  
    <!-- Dynamic checkboxes for traits -->
    <ul class="ks-cboxtags">
        {% for klasse, traits in klasse_groups.items() %}
            <fieldset>
                <legend>{{ klasse }}</legend>
                <div class="container">
                    <ul class="ks-cboxtags">
                    {% for trait in traits %}
                        <li>
                            <input type="checkbox" name="tags" id="checkbox{{ trait.id }}" value="{{ trait.name }}"
                                   {% if trait in opplegg.traits %} checked {% endif %}
                                   {% if user.role != 'admin' %} disabled {% endif %}>
                            <label for="checkbox{{ trait.id }}">{{ trait.name }}</label>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </fieldset>
        {% endfor %}
    </ul>
    {% if user.role == 'admin' %}
    <div align="center">
        <button type="submit" onsubmit="disableSubmitButton()" class="btn btn-primary" style="margin-top: 2rem">Oppdater opplegg</button>
      </div>
        
    {% endif %}
  </form>
  <script>
    function disableSubmitButton() {
        document.getElementById('submit-button').disabled = true;
    }
</script>
</div>
</div>
{% endblock %}