{% extends "base.html" %}{% block title %}{{ opplegg.name }}{% endblock %} {%
block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='legg_inn_nytt_opplegg.css') }}" />

<div id="opplegg_body">
  <div id="centerer">
    <h1 align="center">{{ opplegg.name }}</h1>
    <form method="POST">
<br />
    <textarea
        placeholder="Forklar opplegget"
        id="datas"
        name="data"
        rows="4"
        cols="139"
        style="font-size: 14px"
        wrap="soft"
        required
        disabled
    >{{ opplegg.data }}</textarea>

    <div class="form-footer">
        <p>Alle egenskapene opplegget <b>kan</b> ha</p>
    </div>

    <!-- Dynamic Fieldsets for Traits -->
    <ul class="ks-cboxtags">
        {% for klasse, traits in klasse_groups.items() %}
            <fieldset>
                <legend>{{ klasse }}</legend>
                <div class="container">
                    <ul class="ks-cboxtags">
                    {% for trait in traits %}
                    
                        <li>
                            <input
                                type="checkbox"
                                name="tags"
                                id="checkbox{{ trait.id }}"
                                value="{{ trait.name }}"
                                {% if trait in opplegg.traits %} checked {% endif %}
            disabled
                            />
                            <label for="checkbox{{ trait.id }}">{{ trait.name }}</label>
                        </li>
                    {% endfor %}
                </ul>
                </div>
            </fieldset>
        {% endfor %}
    </ul>
</form>
  </div>
</div>
{% endblock %}

